// Основной контент
.main {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    min-height: calc(100vh - 300px);
    overflow-x: hidden;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 4rem;
    width: 100%;
    box-sizing: border-box;
    
    @media (max-width: 768px) {
        padding: 2rem 2rem;
    }
}
